In [9]:
import pandas as pd
import numpy as np

In [8]:
!head -10 BX-Users.csv

"User-ID";"Location";"Age"
"1";"nyc, new york, usa";NULL
"2";"stockton, california, usa";"18"
"3";"moscow, yukon territory, russia";NULL
"4";"porto, v.n.gaia, portugal";"17"
"5";"farnborough, hants, united kingdom";NULL
"6";"santa monica, california, usa";"61"
"7";"washington, dc, usa";NULL
"8";"timmins, ontario, canada";NULL
"9";"germantown, tennessee, usa";NULL

In [12]:
!head -5 BX-Books.csv

"ISBN";"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"
"0195153448";"Classical Mythology";"Mark P. O. Morford";"2002";"Oxford University Press";"http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg"
"0002005018";"Clara Callan";"Richard Bruce Wright";"2001";"HarperFlamingo Canada";"http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg"
"0060973129";"Decision in Normandy";"Carlo D'Este";"1991";"HarperPerennial";"http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg"
"0374157065";"Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It";"Gina Bari Kolata";"1999";"Farrar Straus Giroux";"http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg"

In [14]:
!head -10 BX-Book-Ratings.csv

"User-ID";"ISBN";"Book-Rating"
"276725";"034545104X";"0"
"276726";"0155061224";"5"
"276727";"0446520802";"0"
"276729";"052165615X";"3"
"276729";"0521795028";"6"
"276733";"2080674722";"0"
"276736";"3257224281";"8"
"276737";"0600570967";"6"
"276744";"038550120X";"7"

In [223]:
####This file is not clean because of \". What's the most programmable way to clean this file?

booknames = pd.read_csv('BX-Books.csv', header=0, index_col='ISBN', sep=';')

booknames = booknames[['Book-Title', 'Book-Author', 'Year-Of-Publication']]

booknames.head()

,Book-Title,Book-Author,Year-Of-Publication
ISBN,,,
0195153448,Classical Mythology,Mark P. O. Morford,2002
0002005018,Clara Callan,Richard Bruce Wright,2001
0060973129,Decision in Normandy,Carlo D'Este,1991
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
0393045218,The Mummies of Urumchi,E. J. W. Barber,1999

In [32]:
allbooks = pd.read_csv('BX-Book-Ratings.csv', header=0, index_col=None, sep=';')

In [33]:
allbooks.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [306]:
allusers = pd.read_csv('BX-Users.csv', header=0, index_col='User-ID', sep = ';')
allusers.head()

                                   Location  Age
User-ID
1                        nyc, new york, usa  NaN
2                 stockton, california, usa   18
3           moscow, yukon territory, russia  NaN
4                 porto, v.n.gaia, portugal   17
5        farnborough, hants, united kingdom  NaN

In [104]:
n=1000

top_n = allbooks.ISBN.value_counts().index[:n]

df = allbooks[allbooks['ISBN'].isin(top_n)]

allbooks[allbooks.ISBN=='0671024248'].ISBN.value_counts()

last_n = allbooks.ISBN.value_counts().index[n-1:n]

print 'Minimum number of ratings', allbooks[allbooks.ISBN.isin(last_n)].ISBN.value_counts()

Minimum number of ratings 0373243286    83
dtype: int64

In [89]:
top_n2 = df.ISBN.value_counts()

testdf = pd.DataFrame(top_n2, index=None, columns=['ISBN'])

testdf

### could  not get this to not index the first column, why?

            ISBN
0971880107  2502
0316666343  1295
0385504209   883
0060928336   732
0312195516   723
044023722X   647
0679781587   639
0142001740   615
067976402X   614
0671027360   586
0446672211   585
059035342X   571
0316601950   568
0375727345   552
044021145X   529
0452282152   526
0440214041   523
0804106304   519
0440211727   517
0345337662   506
0060930535   494
0440226430   482
0312278586   474
0743418174   470
0671021001   468
0345370775   466
0446605239   465
0156027321   462
0440241073   456
0671003755   446
...          ...
0553275976   189
0140067477   189
0451184963   188
0425169863   188
0345465083   187
0671014196   187
0345439104   187
0553580221   186
044651862X   186
0446670251   185
0375703055   185
0767900383   184
0553277472   184
0380718332   184
038550120X   184
0425163407   184
0553579606   183
042516098X   182
0446359866   182
0446604801   182
0345438329   182
0842329218   182
0316899984   182
0553272535   181
0345350499   181
0451203771   181
014023313X   181
0452264464   180
1559029838   180
0671024248   179

[250 rows x 1 columns]

#Function to find similar books

In [287]:
df_pivot = pd.pivot_table(df, values=['Book-Rating'], columns=['ISBN', 'User-ID'], aggfunc = np.mean )

df_wide = df_pivot.unstack(-1)

df_wide.head(10)

User-ID                 9       14      16      17      26      39      \
            ISBN
Book-Rating 000649840X     NaN     NaN     NaN     NaN     NaN     NaN
            002542730X     NaN     NaN     NaN     NaN     NaN     NaN
            0060008032     NaN     NaN     NaN     NaN     NaN     NaN
            0060096195     NaN     NaN     NaN     NaN     NaN     NaN
            006016848X     NaN     NaN     NaN     NaN     NaN     NaN
            0060173289     NaN     NaN     NaN     NaN     NaN     NaN
            0060175400     NaN     NaN     NaN     NaN     NaN     NaN
            0060188731     NaN     NaN     NaN     NaN     NaN     NaN
            006019491X     NaN     NaN     NaN     NaN     NaN     NaN
            0060199652     NaN     NaN     NaN     NaN     NaN     NaN

User-ID                 42      44      51      67       ...    278807  \
            ISBN                                         ...
Book-Rating 000649840X     NaN     NaN     NaN     NaN   ...       NaN
            002542730X     NaN     NaN     NaN     NaN   ...       NaN
            0060008032     NaN     NaN     NaN     NaN   ...       NaN
            0060096195     NaN     NaN     NaN     NaN   ...       NaN
            006016848X     NaN     NaN     NaN     NaN   ...       NaN
            0060173289     NaN     NaN     NaN     NaN   ...       NaN
            0060175400     NaN     NaN     NaN     NaN   ...       NaN
            0060188731     NaN     NaN     NaN     NaN   ...       NaN
            006019491X     NaN     NaN     NaN     NaN   ...       NaN
            0060199652     NaN     NaN     NaN     NaN   ...       NaN

User-ID                 278813  278819  278828  278832  278836  278843  \
            ISBN
Book-Rating 000649840X     NaN     NaN     NaN     NaN     NaN     NaN
            002542730X     NaN     NaN     NaN     NaN     NaN     NaN
            0060008032     NaN     NaN     NaN     NaN     NaN     NaN
            0060096195     NaN     NaN     NaN     NaN     NaN     NaN
            006016848X     NaN     NaN     NaN     NaN     NaN     NaN
            0060173289     NaN     NaN     NaN     NaN     NaN       9
            0060175400     NaN     NaN     NaN     NaN     NaN     NaN
            0060188731     NaN     NaN     NaN     NaN     NaN     NaN
            006019491X     NaN     NaN     NaN     NaN     NaN     NaN
            0060199652     NaN     NaN     NaN     NaN     NaN     NaN

User-ID                 278844  278851  278854
            ISBN
Book-Rating 000649840X     NaN     NaN     NaN
            002542730X     NaN     NaN     NaN
            0060008032     NaN     NaN     NaN
            0060096195     NaN     NaN     NaN
            006016848X     NaN     NaN     NaN
            0060173289     NaN     NaN     NaN
            0060175400     NaN     NaN     NaN
            0060188731     NaN     NaN     NaN
            006019491X     NaN     NaN     NaN
            0060199652     NaN     NaN     NaN

[10 rows x 35628 columns]

In [288]:
df_wide = df_wide.fillna(0)

df_wide.head(10)

User-ID                 9       14      16      17      26      39      \
            ISBN
Book-Rating 000649840X       0       0       0       0       0       0
            002542730X       0       0       0       0       0       0
            0060008032       0       0       0       0       0       0
            0060096195       0       0       0       0       0       0
            006016848X       0       0       0       0       0       0
            0060173289       0       0       0       0       0       0
            0060175400       0       0       0       0       0       0
            0060188731       0       0       0       0       0       0
            006019491X       0       0       0       0       0       0
            0060199652       0       0       0       0       0       0

User-ID                 42      44      51      67       ...    278807  \
            ISBN                                         ...
Book-Rating 000649840X       0       0       0       0   ...         0
            002542730X       0       0       0       0   ...         0
            0060008032       0       0       0       0   ...         0
            0060096195       0       0       0       0   ...         0
            006016848X       0       0       0       0   ...         0
            0060173289       0       0       0       0   ...         0
            0060175400       0       0       0       0   ...         0
            0060188731       0       0       0       0   ...         0
            006019491X       0       0       0       0   ...         0
            0060199652       0       0       0       0   ...         0

User-ID                 278813  278819  278828  278832  278836  278843  \
            ISBN
Book-Rating 000649840X       0       0       0       0       0       0
            002542730X       0       0       0       0       0       0
            0060008032       0       0       0       0       0       0
            0060096195       0       0       0       0       0       0
            006016848X       0       0       0       0       0       0
            0060173289       0       0       0       0       0       9
            0060175400       0       0       0       0       0       0
            0060188731       0       0       0       0       0       0
            006019491X       0       0       0       0       0       0
            0060199652       0       0       0       0       0       0

User-ID                 278844  278851  278854
            ISBN
Book-Rating 000649840X       0       0       0
            002542730X       0       0       0
            0060008032       0       0       0
            0060096195       0       0       0
            006016848X       0       0       0
            0060173289       0       0       0
            0060175400       0       0       0
            0060188731       0       0       0
            006019491X       0       0       0
            0060199652       0       0       0

[10 rows x 35628 columns]

In [289]:
ISBN = df_wide.index.levels[1]

df_wide.index.levels[0]

# df_wide.columns

ISBN

Index([u'000649840X', u'002542730X', u'0060008032', u'0060096195',
       u'006016848X', u'0060173289', u'0060175400', u'0060188731',
       u'006019491X', u'0060199652',
       ...
       u'1573225517', u'1573225789', u'1573227331', u'1573229326',
       u'1573229571', u'1573229725', u'1576737330', u'1592400876',
       u'1878424319', u'8873122933'],
      dtype='object', name=u'ISBN', length=1000)

In [285]:
df_wide.shape

(35628, 1000)

In [121]:
from sklearn.metrics.pairwise import cosine_similarity

In [126]:
dists = cosine_similarity(df_wide)

dists.shape

(1000L, 1000L)

In [153]:
dists = pd.DataFrame(dists, index=ISBN, columns=ISBN)

dists.ix[:10, :10]

ISBN,000649840X,002542730X,0060008032,0060096195,006016848X,0060173289,0060175400,0060188731,006019491X,0060199652
ISBN,,,,,,,,,,
000649840X,1.000000,0.059837,0.028577,0.000000,0.043903,0.000000,0.020793,0.017269,0.030229,0.024108
002542730X,0.059837,1.000000,0.015558,0.000000,0.014222,0.000000,0.024904,0.009401,0.016457,0.013124
0060008032,0.028577,0.015558,1.000000,0.036488,0.063930,0.000000,0.024103,0.020018,0.056502,0.027945
0060096195,0.000000,0.000000,0.036488,1.000000,0.000000,0.000000,0.015929,0.000000,0.000000,0.000000
006016848X,0.043903,0.014222,0.063930,0.000000,1.000000,0.000000,0.022034,0.018300,0.032032,0.025546
0060173289,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.055618,0.000000,0.000000,0.059895
0060175400,0.020793,0.024904,0.024103,0.015929,0.022034,0.055618,1.000000,0.046124,0.055325,0.095362
0060188731,0.017269,0.009401,0.020018,0.000000,0.018300,0.000000,0.046124,1.000000,0.068817,0.032648
006019491X,0.030229,0.016457,0.056502,0.000000,0.032032,0.000000,0.055325,0.068817,1.000000,0.050842
0060199652,0.024108,0.013124,0.027945,0.000000,0.025546,0.059895,0.095362,0.032648,0.050842,1.000000

In [263]:
# mybook = booknames[booknames.index=='0060096195']

# mybook


# mybook = ['0060096195']

# test = dists[mybook]

# # summ = dists['0060096195'].apply(lambda row: np.sum(row))
# summ = test.sum(axis=1)
# summ = summ.order(ascending=False)
# summ
# # summ.index
# # type(summ)




# ranked_books = summ[summ.index.isin(mybook)==False]

# ranked_books = pd.DataFrame(ranked_books, index=None, columns=[['Similarity']])


# ranked_books
# # type(ranked_books)
# # # ranked_books.columns
# # # ranked_books[0]
# joined_names = ranked_books.join(booknames, how='inner')

# joined_names_sorted = joined_names.sort(['Similarity'], ascending=False)
# joined_names_sorted.head(10)
# # joined_names.ix['0743418204']

# # 0743418204
# # 0.136881

In [261]:
def books_alike(mybook, k):
    mybook = [mybook]

    summ = dists[mybook].sum(axis=1)
    summ = summ.order(ascending=False)
  
    ranked_books = summ[summ.index.isin(mybook)==False]

    ranked_books = pd.DataFrame(ranked_books, index=None, columns=[['Similarity']])

    book_names = ranked_books.join(booknames, how='inner')

    book_names_sorted = book_names.sort(['Similarity'], ascending=False)
        
    mybookname = booknames[booknames.index==mybook]['Book-Title']
    
    print 'Book I like:', mybookname
    return book_names_sorted.head(k)

In [262]:
books_alike('0385335881', 10)

Book I like: ISBN
0385335881    Shopaholic Takes Manhattan (Summer Display Opp...
Name: Book-Title, dtype: object

,Similarity,Book-Title,Book-Author,Year-Of-Publication
ISBN,,,,
0385336179,0.321882,Shopaholic Ties the Knot,Sophie Kinsella,2003
0385335482,0.316682,Confessions of a Shopaholic (Summer Display Op...,SOPHIE KINSELLA,2001
038550926X,0.124017,The Devil Wears Prada : A Novel,LAUREN WEISBERGER,2003
0449219364,0.106208,G Is for Gumshoe (Kinsey Millhone Mysteries (P...,Sue Grafton,1991
0767905202,0.106110,Mr. Maybe,Jane Green,2002
051512219X,0.102390,Small Town Girl,Lavyrle Spencer,1998
0312278586,0.099893,The Nanny Diaries: A Novel,Emma McLaughlin,2002
0385335830,0.092671,Diary of a Mad Bride (Summer Display Opportunity),Laura Wolf,2002
0743418174,0.092390,Good in Bed,Jennifer Weiner,2002
0671727583,0.088462,Smart Women,Judy Blume,1990

#Function to identify similar users

In [297]:
n=1000

top_n = allbooks['User-ID'].value_counts().index[:n]

df = allbooks[allbooks['User-ID'].isin(top_n)]

# allbooks[allbooks.ISBN=='0671024248'].ISBN.value_counts()

last_n = allbooks['User-ID'].value_counts().index[n-1:n]

print 'Minimum number of ratings', allbooks[allbooks.ISBN.isin(last_n)].ISBN.value_counts()
print 'Minimum number of ratings', allbooks[allbooks['User-ID'].isin(last_n)]['User-ID'].value_counts()

Minimum number of ratings Series([], dtype: int64)
Minimum number of ratings 54828    182
dtype: int64

In [298]:
df_pivot = pd.pivot_table(df, values=['Book-Rating'], columns=['User-ID', 'ISBN'], aggfunc = np.mean )

df_wide = df_pivot.unstack(-1)

df_wide.head(10)

df_wide.shape

df_wide = df_wide.fillna(0)

UserID = df_wide.index.levels[1]

df_wide.index.levels[0]

df_wide.columns

UserID

Int64Index([   254,   2033,   2276,   2766,   2977,   3363,   3757,   4017,
              4385,   6242,
            ...
            274301, 274308, 274808, 275970, 276680, 277427, 277478, 277639,
            278188, 278418],
           dtype='int64', name=u'User-ID', length=1000)

In [299]:
from sklearn.metrics.pairwise import cosine_similarity

dists = cosine_similarity(df_wide)

In [300]:
dists = pd.DataFrame(dists, index=UserID, columns=UserID)

In [302]:
#how do you get it to show 1000 rows by 1000 columns

dists.ix[:10000, :10000]

dists.head(100)

User-ID,254,2033,2276,2766,2977,3363,3757,4017,4385,6242,...,274301,274308,274808,275970,276680,277427,277478,277639,278188,278418
User-ID,,,,,,,,,,,,,,,,,,,,,
254,1.000000,0.052825,0.000000,0.000000,0.016767,0.013230,0.00000,0.010541,0.000000,0.000000,...,0.000000,0.022323,0.000000,0.012727,0.016365,0.000000,0.000000,0.000000,0.000000,0.000000
2033,0.052825,1.000000,0.046753,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2276,0.000000,0.046753,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.005661,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023342,0.000000,0.000000
2766,0.000000,0.000000,0.000000,1.000000,0.000000,0.007233,0.00000,0.027081,0.000000,0.006718,...,0.015312,0.000000,0.000000,0.006088,0.023016,0.020162,0.015155,0.000000,0.000000,0.006667
2977,0.016767,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.007082,0.000000,0.008321,...,0.011092,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3363,0.013230,0.000000,0.000000,0.007233,0.000000,1.000000,0.00000,0.027156,0.000000,0.000000,...,0.000000,0.000000,0.019702,0.000000,0.009369,0.000000,0.000000,0.000000,0.000000,0.000000
3757,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4017,0.010541,0.000000,0.000000,0.027081,0.007082,0.027156,0.00000,1.000000,0.000000,0.062212,...,0.007627,0.013199,0.020451,0.007620,0.033506,0.007570,0.000000,0.000000,0.000000,0.000000
4385,0.000000,0.000000,0.005661,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6242,0.000000,0.000000,0.000000,0.006718,0.008321,0.000000,0.00000,0.062212,0.000000,1.000000,...,0.007315,0.000000,0.000000,0.000000,0.008121,0.007059,0.000000,0.000000,0.000000,0.000000
6251,0.031614,0.031252,0.003073,0.000000,0.016148,0.000000,0.00000,0.010767,0.000000,0.010327,...,0.016469,0.012826,0.022410,0.011408,0.005015,0.009153,0.000000,0.012986,0.000000,0.018669
6323,0.000000,0.000000,0.000000,0.021259,0.000000,0.000000,0.00000,0.000000,0.000000,0.009924,...,0.018135,0.028797,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6543,0.013074,0.000000,0.000000,0.007207,0.000000,0.000000,0.00000,0.012455,0.000000,0.023480,...,0.000000,0.006548,0.010768,0.009520,0.008535,0.017247,0.000000,0.000000,0.000000,0.000000
6563,0.003680,0.014020,0.000000,0.011317,0.004577,0.022030,0.00000,0.010071,0.000000,0.009392,...,0.000000,0.021328,0.019728,0.000000,0.009121,0.000000,0.000000,0.030848,0.000000,0.000000
6575,0.020927,0.000000,0.007487,0.011935,0.008857,0.026157,0.00000,0.066743,0.000000,0.079465,...,0.012113,0.025058,0.012120,0.030758,0.014769,0.040241,0.000000,0.000000,0.000000,0.000000
7158,0.000000,0.000000,0.000000,0.000000,0.000000,0.015585,0.00000,0.025655,0.000000,0.000000,...,0.000000,0.000000,0.023649,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7286,0.000000,0.007862,0.000000,0.030260,0.011229,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.009526,0.000000,0.000000,0.000000,0.000000
7346,0.025459,0.010708,0.017677,0.011319,0.000000,0.012896,0.00000,0.008491,0.004470,0.007860,...,0.015280,0.007140,0.028497,0.019675,0.000000,0.014154,0.000000,0.000000,0.012957,0.000000
7915,0.000000,0.000000,0.000000,0.000000,0.017471,0.000000,0.00000,0.000000,0.000000,0.012803,...,0.010453,0.029075,0.000000,0.020223,0.033157,0.025031,0.000000,0.000000,0.019698,0.000000
8067,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.003808,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.013337,0.000000,0.000000,0.000000,0.006076
8245,0.013977,0.000000,0.000000,0.000000,0.024978,0.009335,0.00000,0.029960,0.000000,0.024896,...,0.000000,0.014002,0.000000,0.007858,0.007859,0.012268,0.000000,0.000000,0.008576,0.010789
8253,0.045661,0.008777,0.000000,0.031158,0.031836,0.000000,0.00000,0.067316,0.000000,0.023491,...,0.000000,0.000000,0.029160,0.033303,0.038065,0.007090,0.000000,0.000000,0.000000,0.000000
8284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8681,0.051969,0.015840,0.000000,0.000000,0.018195,0.000000,0.00000,0.009570,0.000000,0.015685,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.005971,0.000000,0.000000,0.000000,0.000000
8890,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.034531,0.016332,0.000000,0.007604,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9417,0.000000,0.000000,0.000000,0.019854,0.000000,0.000000,0.00000,0.013252,0.000000,0.000000,...,0.000000,0.022450,0.000000,0.018514,0.000000,0.000000,0.000000,0.000000,0.000000,0.010812
9856,0.052029,0.005804,0.005950,0.008785,0.000000,0.010092,0.00000,0.019545,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.022758,0.008615,0.000000,0.000000,0.000000,0.000000
10447,0.000000,0.000000,0.004930,0.000000,0.013739,0.000000,0.00000,0.028843,0.000000,0.024410,...,0.000000,0.000000,0.021753,0.009386,0.016762,0.014985,0.000000,0.000000,0.000000,0.000000
10819,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.016285,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24921,0.018885,0.000000,0.000000,0.000000,0.023490,0.000000,0.00000,0.014357,0.000000,0.000000,...,0.028109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033520,0.000000
25409,0.011829,0.014021,0.003833,0.005135,0.000000,0.026276,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.017627,0.000000,0.000000,0.004561,0.012157,0.000000,0.000000,0.000000,0.000000
25601,0.000000,0.000000,0.000000,0.000000,0.000000,0.010360,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.007931,0.000000,0.000000,0.000000,0.005775,0.000000,0.000000,0.000000,0.000000
25981,0.000000,0.000000,0.007055,0.005787,0.000000,0.000000,0.00423,0.000000,0.000000,0.000000,...,0.000000,0.016359,0.000000,0.000000,0.000000,0.006486,0.000000,0.000000,0.006927,0.010505
26516,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015419
26535,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26544,0.000000,0.000000,0.000000,0.000000,0.013115,0.006652,0.00000,0.005153,0.000000,0.007785,...,0.000000,0.000000,0.010094,0.000000,0.000000,0.000000,0.000000,0.000000,0.024715,0.000000
26583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.009003,0.000000,0.008635,...,0.008813,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26593,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.011279,0.014640,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26883,0.022152,0.000000,0.000000,0.000000,0.000000,0.009321,0.00000,0.010315,0.000000,0.008834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27462,0.000000,0.000000,0.005153,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27617,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.020223,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27647,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.005106,...,0.000000,0.006764,0.000000,0.006170,0.004408,0.003065,0.000000,0.000000,0.000000,0.000000
28204,0.000000,0.000000,0.008503,0.016141,0.000000,0.000000,0.00000,0.011971,0.000000,0.000000,...,0.020963,0.000000,0.000000,0.000000,0.013009,0.017517,0.000000,0.000000,0.014721,0.000000
28360,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.006564,0.000000,0.000000,0.000000,0.000000
28523,0.045561,0.013501,0.000000,0.000000,0.000000,0.020171,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.022820,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28591,0.008760,0.000000,0.000000,0.004490,0.000000,0.008597,0.00000,0.000000,0.005298,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006520
28634,0.000000,0.000000,0.024689,0.011721,0.000000,0.000000,0.00000,0.031553,0.006915,0.008337,...,0.042544,0.011597,0.000000,0.005667,0.009446,0.006756,0.000000,0.040735,0.000000,0.000000
29259,0.015988,0.005264,0.000000,0.012747,0.010827,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.025912,0.012012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29855,0.000000,0.000000,0.000000,0.022547,0.000000,0.000000,0.00000,0.026755,0.000000,0.000000,...,0.010913,0.000000,0.000000,0.010902,0.018173,0.000000,0.000000,0.000000,0.000000,0.000000
30273,0.048328,0.000000,0.000000,0.000000,0.000000,0.022320,0.00000,0.015129,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.016441,0.000000,0.000000,0.000000,0.000000,0.000000
30276,0.000000,0.000000,0.005016,0.000000,0.000000,0.000000,0.00000,0.004806,0.000000,0.004609,...,0.007527,0.010468,0.000000,0.000000,0.006821,0.013043,0.000000,0.000000,0.000000,0.007058
30487,0.013258,0.000000,0.009205,0.015290,0.011223,0.011385,0.00000,0.014363,0.000000,0.031420,...,0.000000,0.000000,0.000000,0.000000,0.044208,0.010881,0.000000,0.000000,0.015688,0.000000
30509,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30511,0.000000,0.000000,0.000000,0.000000,0.014383,0.000000,0.00000,0.009796,0.000000,0.007047,...,0.000000,0.000000,0.000000,0.005732,0.016028,0.000000,0.000000,0.000000,0.000000,0.000000
30533,0.000000,0.000000,0.000000,0.020058,0.000000,0.011150,0.00000,0.029475,0.002577,0.016439,...,0.006341,0.012804,0.000000,0.000000,0.008213,0.000000,0.000000,0.000000,0.000000,0.000000
30711,0.023911,0.023619,0.007748,0.000000,0.000000,0.009734,0.00000,0.008483,0.000000,0.000000,...,0.007382,0.000000,0.028065,0.007375,0.008195,0.000000,0.000000,0.000000,0.000000,0.000000
30712,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30735,0.076180,0.047889,0.005355,0.007592,0.009475,0.000000,0.00000,0.000000,0.000000,0.006076,...,0.042521,0.011038,0.000000,0.000000,0.000000,0.007034,0.000000,0.000000,0.000000,0.000000
30972,0.000000,0.000000,0.000000,0.001611,0.000000,0.000000,0.00000,0.046584,0.007127,0.013748,...,0.025432,0.021248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011695

In [309]:
def users_alike(myuser, k):
    myuser = [myuser]

    summ = dists[myuser].sum(axis=1)
    summ = summ.order(ascending=False)
  
    ranked_users = summ[summ.index.isin(myuser)==False]

    ranked_users = pd.DataFrame(ranked_users, index=None, columns=[['Similarity']])

    user_info = ranked_users.join(allusers, how='inner')

    user_info_sorted = user_info.sort(['Similarity'], ascending=False)
        
    myusername = allusers[allusers.index==myuser]
    
    print 'Book I like:', myusername
    return user_info_sorted.head(k)

In [310]:
users_alike(30972, 10)

Book I like:                          Location  Age
User-ID
30972    columbiana, alabama, usa   47

         Similarity                          Location  Age
User-ID
196047     0.110008             macomb, michigan, usa   55
240567     0.108691        hawthorne, new jersey, usa   33
208147     0.098181      federal way, washington, usa   41
221445     0.095341             portland, oregon, usa  NaN
247752     0.094321  wake forest, north carolina, usa   30
227705     0.093390        westport, connecticut, usa   36
125519     0.091721           irvine, california, usa   40
271448     0.088649           ona, west virginia, usa   27
21014      0.080567           fresno, california, usa  NaN
172512     0.077184         louisville, kentucky, usa   25

In [315]:
allbooks.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [354]:
allbooks_short = allbooks.ix[:1000]
allbooks_short.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [355]:
allbooks_short.to_csv('allbooks_short.dat', sep=',', index=False, header=False)

In [356]:
!head -10 allbooks_short.dat

276725,034545104X,0
276726,0155061224,5
276727,0446520802,0
276729,052165615X,3
276729,0521795028,6
276733,2080674722,0
276736,3257224281,8
276737,0600570967,6
276744,038550120X,7
276745,342310538,10

In [324]:
import recsys.algorithm
recsys.algorithm.VERBOSE = True
from recsys.algorithm.factorize import SVD

In [325]:
svd = SVD()

In [357]:
svd.load_data(filename='allbooks_short.dat', sep=',', format={'col':0, 'row':1, 'value':2, 'ids': int})

# svd.load_data(filename='BX-Book-Ratings-Fixed.txt', sep=';', format={'col':0, 'row':1, 'value':2, 'ids': int})

# svd.load_data(filename='allbooks.csv', sep=',', format={'col':0, 'row':1, 'value':2, 'ids': int})

Loading allbooks_short.dat

In [ ]:
k=10
svd.compute(k=k, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True, savefile='svdoutput')

In [328]:
allusers.head()

                                   Location  Age
User-ID
1                        nyc, new york, usa  NaN
2                 stockton, california, usa   18
3           moscow, yukon territory, russia  NaN
4                 porto, v.n.gaia, portugal   17
5        farnborough, hants, united kingdom  NaN

In [346]:
# country = []

# allusers['Country'] = allusers.Location.apply(lambda x: x.split(',')[-1])
allusers['City'] = allusers.Location.apply(lambda x: x.split(',')[0])


allusers.head()

allusers.Country.value_counts()

allusers.City.value_counts()

london                   4105
barcelona                2664
toronto                  2342
madrid                   1933
sydney                   1884
portland                 1869
melbourne                1863
vancouver                1699
chicago                  1566
seattle                  1541
new york                 1445
milano                   1390
san diego                1331
berlin                   1306
ottawa                   1303
san francisco            1300
houston                  1241
paris                    1189
roma                     1045
austin                   1044
los angeles              1042
calgary                  1026
hamburg                  1003
victoria                  874
manchester                838
lisboa                    803
singapore                 801
christchurch              797
brisbane                  792
rome                      769
                         ...
bradenstoke                 1
ilsfeld                     1
west pymble                 1
colomiers                   1
ft col                      1
montney                     1
schloss holte               1
samieira                    1
b`ham                       1
haubstadt                   1
piracanjuba                 1
stony creek                 1
san vittore olona           1
v�le                        1
gebhardshain                1
ste-brigitte de-laval       1
wlen                        1
follett                     1
maidehead                   1
jurong east                 1
mahone bay                  1
vogtareuth                  1
murata                      1
saonara                     1
st-sulpice                  1
burgettstown                1
georgenthal                 1
condor                      1
dallgow                     1
pyatt                       1
dtype: int64