


Cross Validation & Naive Bayes Lab - SMS Spam Classification
===============
orignally developed by Ankit Jain
modified by Justin Breucop

Data source: https://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection

##Cross Validation from Scratch

Let's build it the function together! The steps to cross validation are:
1. Randomly separate your training set into _k_ groups
2. For each group _k_:
>1. Train your model on the other groups
>2. Score your model using gorup _k_ as validation
>3. Save your score and move to your next group

3. Add your _k_ scores and divide by _k_ to get your average score

In [1]:
# Importing Packages 
import numpy as np
import pandas as pd

In [63]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(10)


df = pd.DataFrame.from_csv('titanic-train.csv', index_col=None)#[['Age','Pclass','SibSp', 'Survived']].dropna()
to_predict = 'Survived'
features = ['Age', 'Pclass', 'SibSp']
data = df[features].dropna()
#data=df[features]
label = df[to_predict]
folds=5

data
to_predict
label
df
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=10, p=2, weights='uniform')

In [64]:
data.describe()
#label.describe()
data.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 3 columns):
Age       714 non-null float64
Pclass    714 non-null int64
SibSp     714 non-null int64
dtypes: float64(1), int64(2)
memory usage: 22.3 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

In [65]:
positions = data.index.values
positions
shuffled = np.random.shuffle(positions)
positions

array([432, 854, 331, 587, 441,  66, 407, 858, 268, 116, 528, 586, 321,
       720, 283, 385, 595, 654, 569, 570, 638, 429, 162, 133,  69, 886,
       480, 833, 512, 346, 123, 316, 135, 458, 608, 579, 733, 320, 558,
       870, 282, 855, 848, 649, 353,  68, 412, 549, 770, 550, 713, 112,
       651, 171, 742, 702, 259,  38, 762, 299, 882, 115, 496,   6, 127,
       764, 574, 743, 272, 380, 373, 609, 672, 805, 155, 386, 816, 105,
       370, 136, 362, 736, 660, 396, 350, 876, 488, 382, 777, 460, 641,
       501, 500, 252, 194, 302, 224, 631, 130, 478, 479, 818, 271, 577,
       755,  41, 200, 619, 484, 215, 228, 338,  12, 681, 555,  61, 806,
       357, 566,  14, 683, 296, 553, 503,  85, 706, 258, 789, 157, 827,
       211, 120, 830, 376, 708,  74, 217, 675, 418, 145, 753, 151, 489,
       799, 544, 691, 403, 433, 661, 294, 421, 216, 205, 293, 567, 726,
         7, 562, 748, 530,  10, 278, 202, 521, 710, 841, 352, 195, 230,
        59, 199,  11, 786, 690, 819, 275, 183, 798, 721, 745, 515, 423,
       509, 153, 795,  22, 823, 426, 666, 182, 332, 617, 360, 862, 343,
       189, 510, 247, 242, 779, 838, 889, 724,  44, 243, 471, 635, 687,
       700, 731,  49, 417, 164, 348,  72, 344, 784, 387, 704, 150, 664,
        58, 757, 100, 374, 658, 137,  86, 504, 342, 172, 336, 686, 591,
       179, 108, 556, 473, 422, 345, 767, 857, 146, 594, 371, 523, 671,
       618, 319, 622, 467, 890, 534, 744,  13, 746,  98, 103, 290, 390,
       725, 765, 167, 782, 238, 856, 487,  80, 885, 329, 831, 800,  20,
       821, 379, 682, 266, 853,  88, 161, 292, 604, 482, 143, 394, 607,
       787, 455, 676, 756,   1, 494, 400, 810, 636, 689, 236,   2, 249,
       871, 505, 679, 317, 621,  99, 881, 142, 769, 391, 780, 363, 366,
       430, 652, 285, 312, 401, 657, 536, 209, 333, 469, 539,  78, 188,
       813, 628, 328, 203, 462, 498, 148,  89, 774, 812, 797, 261, 355,
       701, 843, 104, 244, 448, 741, 865, 603, 824, 873, 545, 575, 814,
       749, 156, 585, 435, 840, 437, 771,  34, 438, 796, 408,  70, 642,
       297, 204, 279, 803, 402, 866, 872, 309, 392, 222, 623, 327, 535,
        91, 210,  52, 737, 728, 427, 255, 729, 678, 698, 356, 491, 551,
       712, 447, 218,  96, 456, 600, 288, 794, 399, 630,  73, 318, 307,
       226, 286, 289, 884, 715, 576, 677, 414, 869, 516,  25, 184, 308,
       809, 606, 506, 106,  93, 788,  37, 377, 877, 804, 273, 248, 670,
       752, 477, 685, 395, 532, 110, 113, 513, 526, 173, 129,  30, 139,
       213, 719, 529, 624, 197, 864, 836, 684,  71, 763, 207,   4, 716,
       829, 874, 245, 267, 879,  27, 599, 237, 187, 561,  90, 190, 165,
       193, 835, 688,  39, 751, 434, 474, 632,  63, 398, 372, 144, 452,
       322, 174, 118,  75, 405, 439, 152, 662, 750, 269, 436, 263, 310,
       311, 695,  62, 861, 582, 842, 610, 754,  81, 227, 559, 262, 492,
       341, 493, 419, 775, 820, 614, 147, 694, 499, 314, 665, 483, 696,
       257,  79, 163, 734, 416, 225, 781,  50, 834, 219,  15, 663, 476,
       280, 791, 705, 605, 817, 850, 537, 119, 253, 239, 175, 735, 254,
         9, 627, 785, 287, 747, 543, 124, 571, 221, 450, 626, 339, 323,
        67, 378, 717, 233, 668, 615, 291, 801,  83, 860, 131,  56, 313,
        23, 655, 111, 554, 251,   0, 446, 208, 699, 822, 138, 761, 580,
       588, 381,  97, 440, 453, 808, 880, 514, 659,  18, 887, 114, 645,
       220, 572, 281, 365, 102, 883, 325, 192, 361, 212, 424, 178, 597,
       851, 442,  21, 640, 540, 340,  51, 393, 134, 246,  53,  84, 315,
       122, 802,  16, 326, 383, 170, 519, 616, 583,  24, 276, 541, 634,
       265, 673, 389, 875, 463, 546, 508, 625, 520, 461, 486, 722,  60,
       592, 730,  92, 141, 472, 714, 852, 117, 132, 723, 206, 772, 548,
       518, 397, 445, 337, 404, 525, 234, 125, 867,   8, 443,  94, 169,
       177, 191, 305,  35, 406, 807, 349, 160, 590, 581, 231, 847,  54,
       707,  57, 811, 565, 647, 693, 232, 644,  33, 759, 758, 637, 844,
       149, 703, 465, 620, 845,  43,   3, 449, 369,  40, 542, 646], dtype=int64)

Let's build in class!

In [81]:
#Function here

def crossValidateScoreDataFrame(data, label, model, folds):

    positions = data.index.values
    np.random.shuffle(positions)

    test_slices = []
    train_slices = []

    for i in range(folds):

        
        pos_var = len(data)/folds
        test_slice = positions[i*pos_var:(i+1)*pos_var]
        train_1 = positions[ :i*pos_var]
        train_2 = positions[(i+1)*pos_var:]
        train_slice = np.concatenate([train_1, train_2])

        test_slices.append(test_slice)
        train_slices.append(train_slice)

        #print test_slice
        print len(train_slice)
    
    print test_slices
   
    cv_score = 0
    for train_k, test_k in zip(train_slices, test_slices):
        model.fit(data.loc[train_k], label.loc[train_k])
        fold_score = model.score(data.loc[test_k], label.loc[test_k])

        print fold_score

        cv_score += fold_score

    return cv_score/folds

In [82]:
crossValidateScoreDataFrame(data, label, model, 5)

572
572
572
572
572
[array([787, 824, 197,  92, 318, 668,   3, 332, 576, 845, 637, 374, 316,
       663, 858, 574, 536, 329, 112, 696, 111, 834, 404, 632, 831, 262,
        68, 640, 164, 291, 615, 275, 205,  93, 867, 172, 583,  11, 694,
       652, 189, 389, 371,  52, 188, 730, 254, 710, 309, 861, 399, 150,
        67, 199,  40,  78, 876,  98, 516, 549, 525, 105, 206, 340, 681,
       544, 603,  57, 570, 102, 581, 520,  23, 723, 526, 733, 657, 577,
       848, 173, 814, 236, 875, 537, 487, 145, 550, 446, 265,  44, 614,
       660, 608, 671, 302, 642, 761, 634, 321, 726, 248, 838, 504, 247,
       349, 528,  89, 461, 362, 357, 852, 556, 376, 724,  22, 843, 699,
        81, 494, 271, 595, 119, 257, 179, 182, 378, 882,  62, 842, 484,
       649, 706, 618, 390, 486, 423, 514, 452, 183, 132, 686, 626], dtype=int64), array([355, 664, 118, 817, 356, 373, 654, 540, 670, 877, 365, 512, 753,
       844, 381, 586, 802, 865, 651, 408, 747, 856, 418, 162, 305, 701,
       698,  79,  18, 762,  61,  25, 184, 242, 638, 243, 447, 366, 676,
         2, 600, 450, 782, 472, 115, 237, 879, 571, 337, 297, 737, 871,
       691, 421, 144, 853, 220,  37, 489, 796, 519, 721, 644, 382, 636,
       360, 110, 672, 296, 345, 445, 758, 343, 788, 585, 276, 774, 117,
       873, 204, 500,  80, 320, 239, 542, 442, 779, 864, 819, 346, 592,
       414,  16, 599, 456, 133, 473, 772, 555, 745, 394, 165, 465, 281,
       424, 808, 149, 294, 131,   9, 279, 380,  10, 437, 395, 510, 617,
       886, 125, 258, 679, 804, 123, 369, 798, 812, 800,   7, 546, 323,
       278,   6, 499, 822, 325, 627, 471, 251,   8, 210, 591,  70], dtype=int64), array([222, 704, 829,  51,  66, 227,  97, 841, 139, 708, 455, 170, 619,
       854, 508, 193, 682, 263, 400,  73, 715, 769, 506, 786, 529, 561,
       562, 458, 261, 398, 315, 299, 781, 725, 249, 307, 659,  99, 752,
       635, 190,  94, 607, 397, 518, 203, 821, 127, 835,  58, 818, 728,
       151, 308, 310, 763,  41, 597, 764, 700, 862, 436, 482, 717, 147,
       392, 353, 860, 731, 106, 795, 887, 741, 810, 503, 645, 104, 221,
       816, 569, 523, 252,  24, 820, 163, 207,  72,  54, 245, 224, 406,
       604, 880, 751, 202, 157, 352, 673, 448, 476, 283, 744,   4, 565,
       403,  84, 830, 285, 319, 108, 521, 827, 479, 582, 405, 148, 141,
       716, 770, 336, 748, 771, 590, 505, 675, 628, 575, 689,  83, 379,
       440, 313, 124,  27, 661,  85, 333, 746, 246, 789, 338, 501], dtype=int64), array([545,  13, 890, 688, 665,  33, 729, 114, 155, 736, 287, 480, 200,
       579, 269, 750, 554,  15, 684, 720, 387, 687,  90, 641,  14, 441,
       288, 869, 743, 391, 116, 666, 317, 572, 292, 823, 469, 794, 174,
       587, 695, 719, 129, 435, 259, 427, 467,  60, 449, 534, 483, 836,
       136, 192, 273, 363, 138, 478, 685, 412, 707, 167, 496,  74, 146,
       219, 553, 331, 678, 610, 809, 401, 541, 616, 799,  71, 293, 620,
       113, 621, 807, 135, 422, 187,  21, 885,  12, 312, 386, 539, 209,
       348, 777, 754, 453, 177, 870, 811, 703, 755, 884, 662, 175,   0,
       228, 889, 178, 713, 370, 874, 361, 232, 244, 630, 801, 344, 215,
       797, 171, 705, 213,  63,   1,  43, 342, 216, 212,  96, 883, 605,
       551, 432, 677, 253, 498, 558, 631,  53, 735, 535, 624, 100], dtype=int64), array([805, 463, 462, 513, 493,  49,  91, 160, 416, 169, 267,  39, 161,
       326, 218, 290,  59, 460, 742, 492, 647, 120, 195, 749, 530, 840,
        75, 103, 594,  30, 734, 803, 142, 791, 208, 327, 806, 152, 606,
       813,  69, 443, 130, 372, 311, 655, 566, 280, 712, 230, 785, 609,
       693, 850, 137,  86, 588, 477, 881, 434, 339, 509, 690, 622, 234,
       438, 286, 765, 532, 780, 383, 402, 266, 851, 488, 702, 350, 377,
       211, 191, 407, 623,  56, 429, 439, 233,  38, 543, 122, 134, 567,
       833, 282, 238, 385, 268, 759, 430, 153, 396, 393, 580, 426,  88,
       646, 847, 767, 314,  20, 757, 322, 433, 255, 491, 658, 474, 559,
       866, 328, 419, 194, 417, 784, 857, 714, 225,  34, 683, 272,  35,
       756, 217, 226, 625, 231, 872, 156,  50, 548, 515, 855, 775], dtype=int64)]
0.535211267606
0.528169014085
0.471830985915
0.570422535211
0.577464788732

0.53661971830985922

There is also a very simple cross validation function provided by sklearn

##SMS Spam with Naive Bayes

In [16]:
## READING IN THE DATA
df = pd.DataFrame.from_csv("SMSSpamCollection.tsv",sep='\t',header=0,index_col=None)

In [17]:
# examine the data
df.head(10)

  label                                                msg
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [18]:
df[df.label=='spam'].head(10)

   label                                                msg
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
15  spam  XXXMobileMovieClub: To use your credit, click ...
19  spam  England v Macedonia - dont miss the goals/team...
34  spam  Thanks for your subscription to Ringtone UK yo...
42  spam  07732584351 - Rodger Burns - MSG = We tried to...

In [19]:
df.label.value_counts()

ham     4825
spam     747
dtype: int64

In [20]:
df.msg.describe()

count                       5572
unique                      5169
top       Sorry, I'll call later
freq                          30
Name: msg, dtype: object

In [21]:
# Convert the label into a binary variable
# Remember the map function we learned before?
df['label'] = df.label.map({'ham': 0 , 'spam':1})

In [22]:
df.head()

   label                                                msg
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [23]:
# split into training and testing sets by calling sklearn lib
# by default, the data set is split into 0.75 (training) and 0.25 (testing)
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.msg, df.label, random_state=1)

In [29]:
print X_train.shape
print X_train

(4179L,)
710     4mths half price Orange line rental & latest c...
3740                           Did you stitch his trouser
2711    Hope you enjoyed your new content. text stop t...
3155    Not heard from U4 a while. Call 4 rude chat pr...
3748    Ãœ neva tell me how i noe... I'm not at home in...
2389    wiskey Brandy Rum Gin Beer Vodka Scotch Shampa...
3464    i am seeking a lady in the street and a freak ...
772     Lol! U drunkard! Just doing my hair at d momen...
3667    I'm turning off my phone. My moms telling ever...
4955    U coming back 4 dinner rite? Dad ask me so i r...
854     AH POOR BABY!HOPE URFEELING BETTERSN LUV! PROB...
4079                  Gam gone after outstanding innings.
2837                         Nice.nice.how is it working?
1392                  Haha just kidding, papa needs drugs
5533    Hey chief, can you give me a bell when you get...
874     Ugh its been a long day. I'm exhausted. Just w...
4408    Awesome, plan to get here any time after like ...
3990    Ok lor. Anyway i thk we cant get tickets now c...
1921                        Dont know you bring some food
749     Is there a reason we've not spoken this year? ...
2947                        make that 3! 4 fucks sake?! x
2378    YES! The only place in town to meet exciting a...
83                   You will be in the place of that man
4668                           I send the print  outs da.
128                                Are you there in room.
4521    What to think no one saying clearly. Ok leave ...
5090                             St andre, virgil's cream
885     Yoyyooo u know how to change permissions for a...
134     Sunshine Quiz Wkly Q! Win a top Sony DVD playe...
3060    Dear all, as we know  &lt;#&gt; th is the  &lt...
                              ...
1031    Can not use foreign stamps in this country. Go...
1110                      S s..first time..dhoni rocks...
1888    Urgent! Please call 09061743811 from landline....
3550    I got like $ &lt;#&gt; , I can get some more l...
1527    Wow ... I love you sooo much, you know ? I can...
753                           Dont gimme that lip caveboy
3049             Die... Now i have e toot fringe again...
2628    I know I'm lacking on most of this particular ...
562                      Thanx 4 e brownie it's v nice...
4764                           Prepare to be pleasured :)
3562    Text BANNEDUK to 89555 to see! cost 150p texto...
252     Wen ur lovable bcums angry wid u, dnt take it ...
2516    Bognor it is! Should be splendid at this time ...
2962    I'm doing da intro covers energy trends n pros...
4453    I've told you everything will stop. Just dont ...
5374    Do u konw waht is rael FRIENDSHIP Im gving yuo...
5396             As in i want custom officer discount oh.
1202                                 I know she called me
3462    K.. I yan jiu liao... Sat we can go 4 bugis vi...
2797    Tell your friends what you plan to do on Valen...
4225    Double eviction this week - Spiral and Michael...
144            I know you are. Can you pls open the back?
5056    Am on a train back from northampton so i'm afr...
2895                     K...k...yesterday i was in cbe .
2763    ARR birthday today:) i wish him to get more os...
905     We're all getting worried over here, derek and...
5192    Oh oh... Den muz change plan liao... Go back h...
3980    CERI U REBEL! SWEET DREAMZ ME LITTLE BUDDY!! C...
235     Text & meet someone sexy today. U can find a d...
5157                              K k:) sms chat with me.
Name: msg, dtype: object

In [26]:
X_test.shape

(1393L,)

Now we need to convert the text into feature vectors which can be used for machine learning purposes.
We will use the scikit function of CountVectorizer to 'convert text into a matrix of token counts'

 http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
# start with a simple example
train_simple = ['call you tonight',
                'Call me a cab',
                'please call me... PLEASE!']

In [32]:
# learn the 'vocabulary' of the training data
vect = CountVectorizer(decode_error = 'ignore')
vect.fit(train_simple)
vect.get_feature_names()

[u'cab', u'call', u'me', u'please', u'tonight', u'you']

In [35]:
# transform training data into a 'document-term matrix'
train_simple_dtm = vect.transform(train_simple)
train_simple_dtm.toarray()
#train_simple_dtm

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]], dtype=int64)

In [36]:
# examine the vocabulary and document-term matrix together
pd.DataFrame(train_simple_dtm.toarray(), columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [ ]:
# transform testing data into a document-term matrix (using existing vocabulary)
test_simple = ["please don't call me"]
test_simple_dtm = vect.transform(test_simple)
test_simple_dtm.toarray()
pd.DataFrame(test_simple_dtm.toarray(), columns=vect.get_feature_names())

In [ ]:
# instantiate the vectorizer ( use variable name as vect)
vect = CountVectorizer(decode_error = 'ignore')
vect.fit(X_train)
vect.get_feature_names()

In [ ]:
# transform testing data into a document-term matrix: Use Variable name as test_dtm
train_dtm = vect.transform(X_train)
test_dtm = vect.transform(X_test)
print test_dtm

In [ ]:
# Get the length  and names of the feature names
train_features = vect.get_feature_names()
len(train_features)

In [ ]:
train_features[:50]

In [ ]:
train_features[-50:]

In [ ]:
# convert train_dtm to a regular array
train_arr = train_dtm.toarray()
train_arr

In [ ]:

# Revisit Numpy
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print arr[0, 0]
print arr[1, 3]
print arr[0, :]
print arr[:, 0]
print np.sum(arr)
print np.sum(arr,axis = 0)
print np.sum(arr,axis = 1)

In [ ]:
# exercise: calculate the number of tokens in the 0th message in train_arr
print np.sum(train_arr[0,:])

In [ ]:

# exercise: count how many times the 0th token appears across ALL messages in train_arr
print np.sum(train_arr[:,0])

In [ ]:
# exercise: count how many times EACH token appears across ALL messages in train_arr
print np.sum(train_arr, axis=0)

In [ ]:
# exercise: create a DataFrame of tokens with their counts.

Let's build the model with Naive Bayes Now

http://scikit-learn.org/stable/modules/naive_bayes.html

In [ ]:
# train a Naive Bayes model using train_dtm
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(train_dtm, y_train)

In [ ]:
# make predictions on test data using test_dtm
preds = nb.predict(test_dtm)
preds

In [ ]:
# compare predictions to true labels
from sklearn import metrics
print metrics.accuracy_score(y_test, preds)
print metrics.confusion_matrix(y_test, preds)
# confusion matrix: http://en.wikipedia.org/wiki/Confusion_matrix

In [ ]:
# exercise: show the message text for the false positives
X_test[(y_test == 0) & (preds == 1)]

In [ ]:
# exercise: show the message text for the false negatives
X_test[y_test > preds]
# or
X_test[(y_test == 1) & (preds == 0)]

In [ ]:
## USING ALL DATA AND CROSS-VALIDATION and run NB again

In [ ]:
## EXERCISE: CALCULATE THE 'SPAMMINESS' OF EACH TOKEN

# create separate DataFrames for ham and spam ( df_ham and df_spam)

In [ ]:
# learn the vocabulary of ALL messages and save it

In [ ]:
# create document-term matrix of ham, then convert to a regular array

In [ ]:
# create document-term matrix of spam, then convert to a regular array

In [ ]:
# count how many times EACH token appears across ALL messages in ham_arr

In [ ]:
# count how many times EACH token appears across ALL messages in spam_arr

In [ ]:
# create a DataFrame of tokens with their separate ham and spam counts

In [ ]:
# add one to ham counts and spam counts so that ratio calculations (below) make more sensse

In [ ]:
# calculate ratio of spam-to-ham for each token

In [ ]:
# advanced: implement your own naive bayes classifier